<p id="notice"><%= notice %></p>
<div class="show-page">
<p>
  <strong id="show-page-item">Item:</strong>
  <%= @cart.item %>
</p>

<p>
  <strong id="show-page-important">Important:</strong>
  <%= @cart.important %>
</p>
</div>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
